@font-face {
    font-family: MainTitleFont;
    src: url("../fonts/FoglihtenNo06_076.otf");
}

@font-face {
    font-family: NewsFont;
    src: url("..fonts/0112EU27.ttf");
}

@font-face {
    font-family: ArticleTitleFont;
    src: url();
}

@font-face {
    font-family: ArticleTextFont;
    src: url();
}

