.breakingNews{
    .breakingNewsTitle{
        background-color: #9C9B9B;
        z-index: 100;
        position: relative;
    }
    .breakingNewsMessage{
        color: white;
        background-color: #AF1D1F;
    }
    .breakingNewsTextBeggining{
        position: relative;
        left: 850px;
        &.breakingNewsTextMoving{
            transition: left 15s linear;
            left: -800px; //It would be better to set that in JS based on length of element.
        }
    }
}