.mainTitle{
    font-family: MainTitleFont;
    font-size: 8em;
    margin: 20px auto;
    text-align: center;
    &.headerTitle{
        border-bottom: 2px solid black;
        margin-bottom: 0;
    }
    .mainTitleNews{
        font-family: NewsFont;
        text-transform: uppercase;
        background-color: #AF1D1F;
        color: white;
        font-size: 2rem;
        position: absolute;
        &.headerNews{
            left: 43%;
            top: 55px;
        }
    }
}