.navigationBar{
    border-top: 5px solid black;
    margin-top: 3px;
    .mobileMenuIcon{
        @include phone {
            display: none;
            background-color: red;
        }
    }
    .navigationMenu{
        text-align: center;
        padding: 20px;
        .menuItem{
            list-style-image: none;
            display: inline-block;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            margin: 0 20px;
            &:hover{
                color: red;
                box-sizing: border-box;
                border-top: 1px solid red;
                border-bottom: 1px solid red;
            }
        }
    }
}